.container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 10px;
    /* gap: 20px; */

    width: var(--overall-width);
    color: var(--accent-color);
}

@media screen and (max-width: 1400px){

    .container{
        width: var(--middle-width);
    }

}
@media screen and (max-width:800px) {
    
    .container{
        margin-top: 5px;
        width: var(--middle-mobile);
        justify-content: center;
    }
    .uiDesigner{
        display: none;
    }
    .fullStackDev{
        display: none;
    }
    

}
