.container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 10px;
    /* gap: 20px; */

    width: var(--overall-width);
    color: var(--accent-color);
}

@media screen and (max-width: 1400px){

    .container{
        width: var(--middle-width);
        margin-bottom: 20px;
    }
    .aboutTextBig{
        font-size: 40px;
        
    }
    .aboutTextSmall{
        font-size: 18px;
        
    }

}
@media screen and (max-width:395px) {
    
    .container{
        width: 400px;
        margin-bottom: 20px;
    }
    .aboutTextBig{
        font-size: 40px;
        
    }
    .aboutTextSmall{
        font-size: 18px;
        
    }

}