.allProjectsDiv{
    /* height: 100vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 100px;
    width: var(--overall-width);
    margin: 0 auto;
    color: var(--accent-color)
}
.projectDiv{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-color);
    width: 350px;
    height: 500px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    /* padding: 20px; */
    font-family: 'Poppins', sans-serif;
    transition: all .4s ease;
    /* margin: 0 20px 0 20px; */
}
.projectDiv:hover{
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    transform: scale(1.01);
}
.deployButton{
    font-family: 'Poppins';
    background: var(--accent-color);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 25px;
    color: BLACK;
    border-color: var(--accent-color);
    border-style: solid;
    width: 140px;
    height: 50px;
    font-weight: 600;
    box-shadow: 2px 2px 2px black;
    transition: all .4s ease;
    font-size: 12px;
    
}
.githubButton{
    font-family: 'Poppins';
    border: 2px solid var(--accent-color);
    background-color: var(--secondary-color);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px 25px;
    width: 140px;
    height: 50px;
    color: white;
    font-weight: 300;
    box-shadow: 2px 2px 2px black;
    transition: all .4s ease;
    font-size: 12px;
}
.githubButton:hover{
    box-shadow: 4px 4px 4px black;
    transition: all .4s ease;
    font-size: 13px;
}
.deployButton:hover{
    box-shadow: 4px 4px 4px black;
    transition: all .4s ease;
    font-size: 13px;
}
.deployButton:active{
    box-shadow: inset 4px 4px 4px black;
    font-size: 13px;
}
.githubButton:active{
    box-shadow: inset 4px 4px 4px black;
    font-size: 13px;

}

.subtitle{
    /* text-align: center; */
    font-size: 24px;
    color: var(--accent-color);
    margin: 5px 20px 5px 20px;
    font-weight: 200;

}
.paragraphDiv{
    height:150px;
    margin: 0px 20px 0px 20px;
    color: var(--tertiary-color);
    font-weight: 100;
}
.links{
    display: flex;
    justify-content: center;
    margin: 0px 20px 20px 20px;
    gap: 20px;
}
.description{
    height: 100px;
    color: var(--accent-color);
    font-weight: 400;
}

.projectImage{
    width: 500px;
    height: 1000px;
    border-radius: 10px 10px 0 0;
}
